div.user > select {
  height: 35px;
  border-radius: 5px;
  border: none;
  background-color: rgb(196, 196, 196);
}

div.user {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: row-reverse;
}
div.user > img {
  height: 50px;
  border-radius: 50%;
  background: rgb(224, 224, 224);
}

div.serch {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 250px;
  height: 30px;
  border-radius: 3px;
  margin: 10px 0px;
  border: 1.5px solid rgb(180, 180, 180);
}

input {
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 5px;
}

div.serch > img {
  height: 20px;
  margin-right: 10px;
}
